body {
    background-image: image("/static/images/twitter_desk.jpg");
}

.navbar-default {
    border-bottom: hidden;
    height: 60px;
    background-image: none;
    background-color: #ffffff; !important
}

.form-group {
    display: inline;
}

.input-group {
    display: table;
}

#logo-img {
    margin-top: -12px;
    height: 50px;
}

.glyphicon-heart {
    color: rgba(181, 5, 15, 0.89)
}