{% extends 'base.html' %}
{% block content %}
    <div class="row">
        <!-- Hashtags -->
        <div class="col-xs-6 col-md-4">
            <ul class="list-group">
                {% for key, value in hashtags.iteritems() %}
                <li class="list-group-item">
                    <span class="badge">{{ value }}</span>
                    #{{ key }}
                </li>
                {% endfor %}
            </ul>
        </div> <!-- .col-->
        <!-- Tweets -->
        <div class="col-xs-12 col-sm-6 col-md-8">
            {% for status in status_list %}
            <div class="media panel panel-default panel-body">
                <div class="media-left">
                    <a href="#">
                        <img class="media-object" src="..." alt="...">
                    </a>
                </div>
                <div class="media-body">
                    <h4 class="media-heading">{{ status.name }}</h4>
                    {{ status.content }}
                    <div class="pull-right"><span class="glyphicon glyphicon-heart"></span>  {{ status.favorited }}</div>
                </div>
            </div>
            {% endfor %}
        </div><!-- .col -->
    </div><!-- .row -->
{% endblock %}