{% extends 'base.html' %}
{% block content %}
    <!-- Heading and Search -->
    <div class="row">
        <h1>TwitterFrisk</h1>
        <form class="form-horizontal" id="search-default" action="/search">
            <div class="form-group">
                    <div class="col-lg-8 search-box pull-right">
                        <input class="form-control input-lg" id="search-term" name="search-term" type="text">
                    </div>
                <input class="btn btn-lg btn-default col-xs-4 col-xs-offset-4" type="submit" value="Search">
            </div>
        </form><!-- .form-horizontal -->
    </div> <!-- .row -->

    <div class="row">

            <table>
                <tr>
                    <td>
                        <ul>
                            {% for key, value in hashtags.iteritems() %}
                            <li># {{ key }} : {{ value }}</li>
                            {% endfor %}
                        </ul>
                    </td>
                    <td>
                        <ul>
                        {% for status in status_list %}
                            <li>{{ status.name }} {{ status.content }} {{ status.favorited }}</li>
                        {% endfor %}
                        </ul>
                    </td>
                </tr>
            </table>

    </div><!-- .row -->

{% endblock %}